spring:
  config:
    activate:
      on-profile: prod
  datasource:
    url: ${PROD_DB_URL}
    username: ${PROD_DB_USER}
    password: ${PROD_DB_PASSWORD}
    hikari:
      maximum-pool-size: 30
      minimum-idle: 5
      leak-detection-threshold: 2000
  jpa:
    hibernate:
      ddl-auto: none

management:
  endpoints:
    web:
      exposure:
        include: health,info,prometheus,env,beans

logging:
  level:
    root: WARN
    com.yourorg.yourapp: INFO

